<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!-- 父子组件的方法传递 -->
    <div id="app">
        <cmt-box @func123="loadComments"></cmt-box>

        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key="item.id">
                <span class="badge">Person: {{ item.user }}</span>
                {{ item.content }}
            </li>
        </ul>
    </div>


    <template id='tmp1'>
        <div>
            <div class="form-group">
                <label for="">Person:</label>
                <input type="text" class="form-control" v-model="user">
            </div>
            <div class="form-group">
                <label for="">Content:</label>
                <textarea class="form-control" v-model="content"></textarea>
            </div>
            <input type="button" value="Comment" class="btn btn-primary" @click="postComment">
        </div>
    </template>


    <script>
        //在vue中定义为组件components
        var commentBox = {
            template: '#tmp1',
            data() { //组件中的data
                return {
                    user: '',
                    content: ''
                }
            },
            methods: {
                postComment() {
                    //localStorage: JSON.stringfy
                    var comment = {
                        id: Date.now(),
                        user: this.user,
                        content: this.content
                    }
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    list.unshift(comment)
                    //保存最新的评论数据
                    localStorage.setItem('cmts', JSON.stringify(list))
                    this.user = this.content = ''
                    //调用父组件的方法
                    this.$emit('func123')
                }
            }
        }

        var vm = new Vue({
            el: '#app',
            components: {
                'cmt-box': commentBox
            },
            data: {
                list: [{
                        id: Date.now(),
                        user: '李白',
                        content: '天生我材必有用'
                    },
                    {
                        id: Date.now(),
                        user: '杜甫',
                        content: '安得廣廈千萬間'
                    },
                    {
                        id: Date.now(),
                        user: '惟高',
                        content: '天下熙熙皆为利来'
                    },
                ]
            },
            beforeCreate() { //这里不能调用loadComments, 此时还未初始化data methods

            },
            created() {
                this.loadComments()
            },
            methods: {
                loadComments() {
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    this.list = list
                }
            }
        })
    </script>
</body>

</html>